Миненкова Мария, БСЦ214, ДЗ1

# Часть 1. Типы данных

## Задание 1. Средний балл (списки)
Обратимся к нужным элементам списка и с помощью f-строки оформим ответ.

In [1]:
## 1. Средний балл (списки) - 1 балл (по 0.2 за каждый пункт)

# Дан список `student = ['Иван Питонов', 2001, [8, 7, 7, 9, 6], True]`. Выполните пункты ниже. 
# Все выводы должны быть в формате "Средний балл студента: {средний балл}"

# 1. Выведите фамилию и имя Ивана в формате "Студент: {Фамилия}, {Имя}"
# 2. Выведите возраст Ивана, если сейчас 2020 год.
# 3. Напечатайте оценки Ивана через запятую.
# 4. Найдите средний балл Ивана, если оценки хранятся в списке внутри. Сумму элементов списка можно найти с помощью функции sum(). Выведите средний балл.
# 5. Если средняя оценка Ивана больше или равна 8, то он получает повышенную стипендию. Выведите True или False.

student = ['Иван Питонов', 2001, [8, 7, 7, 9, 6], True]
print(f'Студент: {student[0].split()[1]}, {student[0].split()[0]}')
print(f'Возраст студента: {2020 - student[1]}')
marks = ', '.join(map(str, student[2]))
print(f'Оценки студента: {marks}')
print(f'Средний балл студента: {sum(student[2])/len(student[2])}')
print(f'Повышенная стипендия: {True if sum(student[2])/len(student[2]) >= 8 else False}')

Студент: Питонов, Иван
Возраст студента: 19
Оценки студента: 8, 7, 7, 9, 6
Средний балл студента: 7.4
Повышенная стипендия: False

## Задание 2. Вложенные словари
Обратимся к нужному элементу словаря dict_of_lists по ключу, затем к нужному элементу списка в значении по ключу Windows.

In [2]:
# Вам дан словарь, содержащий в себе списки словарей. 
# Напишите код, который выведет на экран 'разработчик' из списка ключа Windows в в первом словаре из списка 2.

dict_of_lists = {'Список1': [{'Python': 'язык программирования'}, {'R':'язык программирования', 'LaTEX' : 'язык верстки' }],
                 'Список2' : [{'Windows' : ['операционная система', 'разработчик'], 'UNIX' : 'операционная система'},
                              {'IBM': ['компания-производитель', 'разработчик'], 'IPv6' : 'интернет-протокол' }]}


print(dict_of_lists['Список2'][0]['Windows'][1])

разработчик

## Задание 3. Станция метро
Первой строкой оформим введение, затем с помощью условий пропишем варианты вывода: сначала случай, что введена последняя станция, затем - случай, когда введена не последняя (ищем индекс списка, затем выводим следующую станцию). Наконец, оформим случай, когда ввод неправильный.

In [7]:
# Дан список станций желтой ветки московского метро (упорядочены как на карте):

# line = ["Третьяковская", "Марксистская", "Площадь Ильича", "Авиамоторная", "Шоссе Энтузиастов", "Перово", "Новогиреево", "Новокосино"]`

# Давайте считать, что движение происходит от Третьяковской до Новокосино.
# Напишите программу, которая запрашивает у пользователя название текущей станции метро 
# (без лишнего пробела на конце) и выводит на экран сообщение вида
#     Следующая станция: станция.
# Считайте, что пользователь будет запрашивать станцию следующую после Новокосино, то будет выводиться сообщение: *Конечная, покиньте вагон"
# Пример:
# Входные данные:

#     Введите текущую станцию: Площадь Ильича
# Выходные данные:
#     Следующая станция: Авиамоторная

# Подсказка:
# Чтобы вернуть индекс определенного элемента в списке, нужно воспользоваться методом .index().

current_station = input('Введите текущую станцию: ')
line = ["Третьяковская", "Марксистская", "Площадь Ильича", "Авиамоторная", "Шоссе Энтузиастов", "Перово", "Новогиреево", "Новокосино"]
if current_station == line[-1]:
    print('Конечная, покиньте вагон')
elif current_station in line:
    index = line.index(current_station)
    print(f'Следующая станция: {line[index + 1]}')
else:
    print('Станция не найдена. Проверьте ввод.')

Следующая станция: Марксистская

## Задание 4. Срезы списков
С помощью срезов списка выведем нужные элементы - [a:b] выводит элементы от a до b-1, [a:b:c] выводит элемеенты от a до b-1 с шагом c, если мы пишем отрицательный шаг, то элементы выводятся в обратном порядке.

In [3]:
# Используя список `dwarves`, выведите на экран с помощью срезов следующие списки:

#     ["Двалин", "Бифур", "Бофур"]
#     ["Балин", "Бифур", "Бомбур", "Глоин", "Нори", "Фили", "Торин"]
#     ["Оин", "Дори", "Ори", "Кили"]
#     ["Торин", "Фили", "Нори", "Глоин"]
#     ["Торин"]

dwarves = ["Балин", "Двалин", "Бифур", "Бофур", 
         "Бомбур", "Оин", "Глоин", "Дори", "Нори",
         "Ори", "Фили", "Кили", "Торин"]
 
print(dwarves[1:4])
print(dwarves[0:13:2])
print(dwarves[5:13:2])
print(dwarves[-1:-8:-2])
print(dwarves[12:13])

['Двалин', 'Бифур', 'Бофур']
['Балин', 'Бифур', 'Бомбур', 'Глоин', 'Нори', 'Фили', 'Торин']
['Оин', 'Дори', 'Ори', 'Кили']
['Торин', 'Фили', 'Нори', 'Глоин']
['Торин']

# Часть 2. Условный оператор и циклы

## Задание 5. Развернуть число

Получим на вход число, объявим переменную reversed_number, затем запустим цикл до тех пор, пока число не станет равным 0. Внутри цикла выведем остаток от деления на 10, а затем прибавим его к переменной reversed_number, умноженной на 10 и будем повторять цикл. После окончания, собственно, выведем переменную reversed_number с помощью f-строки.

In [9]:
# Вам на вход подается произвольное целое число. "Разверните" его, не используя преобразование к строке.

# Hint: нужно использовать операторы деления для получения остатка и целого числа, что мы с вами проходили.

# Пример:
    
#     Вход: 12345890
#     Выход: 9854321

number = int(input('Введите число: '))
reversed_number = 0
while number > 0:
    last_digit = number % 10     
    reversed_number = reversed_number * 10 + last_digit  
    number = number // 10 

print(f'Развернутое число: {reversed_number}')

Развернутое число: 987654321

## Задание 6. Треугольник
Получаем число N, затем запускаем цикл с N итераций, который выводит элементы списка натуральных чисел от 1 до номера текущей итерации через пробел и пропускает строку на каждой итерации.

In [10]:
# На вход принимается число N.

# Выведите на печать следующий паттерн:

# 1

# 1 2

# 1 2 3

# 1 2 3 4

# ...

# 1 ... N

number = int(input('Введите число: '))
for i in range(1, number + 1):
    print(' '.join(map(str, list(range(1, i + 1)))))
    print()

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

## Задание 7. Поросенок Петр
Вводим число, заводим переменные для координат, затем запускаем цикл для поросенка длиной в n итераций. В каждом цикле мы:

1. Считываем комманду списком, где элементы это число и направление. Если ввод некорректный -- оповещаем об этом и ждем корректный.
2. В зависимости от направления изменяем координаты на число шагов (прописываем условия).

В конце выводим с помощью f-строки, в скольких шагах от начала координат находится поросенок.

In [11]:
# На плоскости в точке (0,0) стоит Поросёнок Пётр. Он умеет ходить налево, направо, вверх и вниз. 
# Расстояние его прохода в какую-либо сторону измеряется в шагах. 
# Когда он идет вправо, его первая координата увеличивается, когда влево - уменьшается. 
# Когда он идет вверх, его вторая координата увеличивается, а когда вниз - уменьшается. 

# С клавиатуры считывается число N - число ходов, которые сделает Пётр. 
# После чего на каждом шаге спрашивается, сколько шагов и в какую сторону за этот ход Пётр сделает. 
# Так происходит, пока Пётр не осуществит все N ходов.

# Программа должна вывести, сколько шагов Пётр должен был бы сделать, чтобы кратчайшим путем прибыть из свое начальной точки (0,0) 
# в свою конечную точку. Напоминание: Пётр умеет ходить только вверх-вниз, и влево-вправо, но не по диагонали.

# Пример ввода: 

#     Введите N: 3
#     Ход 1: Вверх 1
#     Ход 2: Вниз 1
#     Ход 3: Вверх 1
    
# Пример вывода:

#     Пётр находится на расстоянии 1 от (0,0)

number = int(input('Введите N: '))
x = 0
y = 0
for i in range(1, number + 1):
    command = input(f'Ход {i}: ').split()
    if len(command) != 2 or not command[1].isdigit():
        print('Некорректный ввод. Укажите направление и число шагов.')
        continue

    direction = command[0]
    steps = int(command[1])

    if direction == 'Вверх':
        x += steps
    elif direction == 'Вниз':
        x -= steps
    elif direction == 'Вправо':     
        y += steps
    elif direction == 'Влево':
        y -= steps
    else:
        print('Некорректный направление')
print(f'Пётр находится на расстоянии {abs(x) + abs(y)} от (0,0)')

Пётр находится на расстоянии 1 от (0,0)

## Задание 8. Объединение словарей

Объявляем функцию count_goods: она выводит словарь, где ключи - названия товаров, а значения - количество товаров. Для этого она считывает список shops и словари из него. В каждом словаре она считает количество товаров и добавляет их в словарь по ключу названия товаров. Если такого товара еще не было -- она добавляет его в словарь. В конце мы выводим словарь.

In [12]:
# Напишите программу, которая подсчитывает значения из произвольного списка словарей следующего вида.
# Ввод:
#     shops = [{'товар': 'яблоки', 'количество': 400}, {'товар': 'конфеты', 'количество': 300}, {'товар': 'яблоки', 'количество': 750}]
# Вывод:
#     {'яблоки': 1150, 'конфеты': 300}

shops = [{'товар': 'яблоки', 'количество': 400},
         {'товар': 'конфеты', 'количество': 300}, 
         {'товар': 'яблоки', 'количество': 750}]

def count_goods(shops):
    result = {}
    for shop in shops:
        for key, value in shop.items():
            if key == 'товар':
                if value in result:
                    result[value] += shop['количество']
                else:
                    result[value] = shop['количество']
    return result

print(count_goods(shops))

{'яблоки': 1150, 'конфеты': 300}

# Часть 3. Pandas

## Блок 1. Разминка

In [5]:
import pandas as pd

In [6]:
babies = pd.read_csv('https://raw.githubusercontent.com/pileyan/Data/master/data/babies%20names/babies_all.txt', index_col=0)
babies.head()

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

Для выполнения заданий мы используем разные функции обработки датафреймов.
1. Выведем список уникальных элементов столбца года с помощью функции unique().
2. Выведем элемент столбца с именем под индексом 121 с помощью функции iloc() -- поиск по индексу.
3. Создаздим массив из элементов датафрейма с значением Aaron в столбце имя, выведем его длину с помощью функции shape[0], которая обращается к первому элементу кортежа размерности массива.
4. Аналогичным образом создадим два массива для мальчиков и девочек, найдем их длину с помощью shape, выведем разницу.
5. Выведем длину массива детей, у которых в годе значение 2010 и которые мальчики.

In [7]:
print(f"""1. Какие годы включает датасет? 
            
      {babies.year.unique()}
""")


print(f"""2. Какое имя в датасете находится по индексом 121? Ответ: {babies.iloc[121]['name']}""")

print(f"""3. Cколько всего родилось детей по имени 'Aaron' за все время? Ответ: {babies[babies.name == 'Aaron'].shape[0]}
Сколько в датасете девочек по имени John? Ответ: {babies[babies.name == 'John'].shape[0]}""")

print(f"""4. Насколько больше за все время родилось мальчиков чем девочек? Ответ: {babies[babies.sex == 'M'].shape[0] - babies[babies.sex == 'F'].shape[0]}""")

print(f"""5. Cколько мальчиков родилось в 2010? Ответ: {babies[(babies.year == 2010) & (babies.sex == 'M')].shape[0]}""")

1. Какие годы включает датасет?

      [1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893
 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907
 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921
 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935
 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949
 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963
 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977
 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010]

2. Какое имя в датасете находится по индексом 121? Ответ: Ann
3. Cколько всего родилось детей по имени 'Aaron' за все время? Ответ: 212
Сколько в датасете девочек по имени John? Ответ: 262
4. Насколько больше за все время родилось мальчиков чем девочек? Ответ: -317186
5. Cколько мальчиков родилось в 2010? Ответ: 14140

## Блок 2. Анализ данных

In [8]:
# импорт данных
import pandas as pd
hotels = pd.read_csv("data/hotel_booking_data.csv")
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

**ЗАДАНИЕ: Сколько строк содержится в этом наборе данных?**

Посчитаем количество строк в датафрейма с помощью метода shape, указав индекс 0 (считаем строки, не столбцы).

In [9]:
print(f'Количество строк в датафрейме - {hotels.shape[0]}')

Количество строк в датафрейме - 119390

**ЗАДАНИЕ: Есть ли отсутствующие (пропущенные) данные? Если да, то в какой колонке их больше всего?**

Воспользуемся функцией isnull().sum(), которая посчитает количество пропущенных значений в каждом столбце датафрейма. После этого отсортируем по убыванию. Таким образом, пропущенные данные есть в четырех колонках, больше всего их в колонке идентификатор компании (company).

In [10]:
print(hotels.isnull().sum().sort_values(ascending = False))

company                           112593
agent                              16340
country                              488
children                               4
hotel                                  0
booking_changes                        0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
reserved_room_type                     0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
assigned_room_type                     0
previous_bookings_not_canceled         0
is_canceled                            0
previous_cancellations                 0
is_repeated_guest                      0
distribution_channel                   0
market_segment                         0
meal                                   0
babies                                 0
adults                                 0
stays_in_week_nights                   0
stays_in_weekend_nights                0
arrival_date_day_of_month              0
arrival_date_week_number               0
arrival_date_month                     0
arrival_date_year                      0
lead_time                              0
credit_card                            0
dtype: int64

**ЗАДАНИЕ: Удалите колонку "company" из набора данных.**

Для этого задания воспользуемся функцией drop() и сохраним изменения в тот же датафрейм. Затем проверим результат с помощью выписывания всех названий колонок с помощью метода columns.

In [11]:
hotels.columns.tolist()
hotels_without_company = hotels.drop(columns=['company'])
hotels_without_company.columns.tolist()

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date',
 'name',
 'email',
 'phone-number',
 'credit_card']

**ЗАДАНИЕ: Какие 5 стран встречаются в наборе данных наиболее часто?**

Выведем топ-5 с помощью value_counts() (подсчитывает значения) и метода head() (выводит первые 5). Таким образом, встречаются в наборе данных наиболее часто: Португалия (PRT), Великобритания (GBR), Франция (FRA), Испания (ESP), Германия (DEU).

In [12]:
hotels.country.value_counts().head()

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

** ЗАДАНИЕ: Выведите имя человека, который заплатил наибольшую сумму за одни сутки (ADR - average daily rate)? Какое было значение этого ADR?**

Выведем имя человека, который заплатил наибольшую сумму за одни сутки (ADR - average daily rate) и его значение. Сначала отфильтруем датасет по условию, что ADR равен максимальному, и сделаем слайс имени и ADR.

In [13]:
# **ЗАДАНИЕ: Выведите имя человека, который заплатил наибольшую сумму за одни сутки (ADR - average daily rate)? 
# Какое было значение этого ADR?**
print(hotels[hotels['adr'] == hotels['adr'].max()][['name', 'adr']])

                name     adr
48515  Daniel Walter  5400.0

**ЗАДАНИЕ: adr это средняя сумма за сутки для одного бронирования. Каково будет среднее значение adr для всех бронирований в этом наборе данных?**

Выведем среднее значение adr для всех бронирований в этом наборе данных с помощью метода mean().

In [14]:
print(hotels['adr'].mean())

101.83112153446686

**ЗАДАНИЕ: Каково среднее (mean) количество ночей, если сделать усреднение по всем бронированиям? Можете округлить до двух знаков после запятой.**


Сложим количество ночей, проведенных в выходные (stays_in_weekend_nights) и в будни (stays_in_week_nights) и посчитаем среднее этого столбца с помощью метода mean(). Затем округлим до 2 знаков после запятой после запятой с помощью round().

In [15]:
print(round((hotels['stays_in_week_nights']+hotels['stays_in_weekend_nights']).mean(), 2))

3.43

**ЗАДАНИЕ: Какова средняя общая сумма бронирования в этом наборе данных? Не *среднее за сутки*, а *среднее за бронирование*. Можете округлить до двух знаков после запятой.**

Перемножим цену бронирования за одни сутки на количество суток бронирования и найдем среднее значение, составляющее 357.85, если округлять до двух знаков после запятой.

In [16]:
print(round((hotels['adr']*(hotels['stays_in_week_nights']+hotels['stays_in_weekend_nights'])).mean(), 2))

357.85

**ЗАДАНИЕ: Выведите имена и адреса email тех, кто сделал ровно 5 специальных запросов ("Special Requests")?**

С помощью метода loc мы можем выбрать нужные нам строки и столбцы, отфильтруем по количество специальных запросов и выведем имя и email, оставив только эти столбцы.

In [17]:
print(hotels.loc[hotels['total_of_special_requests'] == 5, ['name', 'email']])

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

**ЗАДАНИЕ: Какой процент бронирований классифицированы как бронирования "повторными гостями"? (Для этого не следует использовать имя, воспользуйтесь колонкой is_repeated_guest)**

Воспользуемся методом value_counts() для подсчета количества бронирований, классифицированных как повторные гости, и добавим в аргумент normalize = True, чтобы получить процентное соотношение. Таким образом, 3% бронировваний классифицированы как повторные гости.

In [18]:
print(hotels.is_repeated_guest.value_counts(normalize = True))

is_repeated_guest
0    0.968088
1    0.031912
Name: proportion, dtype: float64

**ЗАДАНИЕ: Какие 5 фамилий встречаются в этом наборе данных наиболее часто? Бонусное задание: Можете ли Вы сделать это с помощью одной строки кода в pandas? (Для упрощения задачи можете считать фамилией самое последнее слово в колонке, например для значения "Caroline Conley MD" можете в качестве фамилии вывести MD)**

Для этого задания мы выбираем колонку с именем, преобразуем ее в строку, разбиваем по пробелу через split(), выбираем последнее слово через  и считаем количество уникальных значений. Затем сортируем по убыванию и выводим первые 5 значений.

In [19]:
print(hotels['name'].str.split().str[-1].value_counts().head(5))

name
Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: count, dtype: int64

**ЗАДАНИЕ: Выведите имена людей, которые бронировали номер для наибольшего количества детей и младенцев? 
(Отменённые бронирования тоже показывайте, то есть не важно, заехали они по факту в отель или нет - главное, 
что на момент бронирования номера было указано наибольшее количество детей+младенцев)**

С помощью метода loc выведем нужные нам строки и столбцы: по строкам поставим условие, что сумма столбцов количества детей и количества младенцев была максимальной. По столбцам выведем имена людей и заодно количество детей и младенцев (равное, к слову, десяти).

In [20]:
print(hotels.loc[(hotels['children'] + hotels['babies']) == (hotels['children']+hotels['babies']).max(), ['name', 'children', 'babies']])

                  name  children  babies
328      Jamie Ramirez      10.0       0
46619  Nicholas Parker       0.0      10

**ЗАДАНИЕ: Какие 3 кода области (это первые три цифры телефона) встречаются в наборе данных наиболее часто?**

Выберем из столбца phone-code первые три элемента строки, затем посчитаем для каждой такой комбинации трех чисел количество элементов датафрейма с помощью value_counts и выведем топ-три с помощью head(3).

In [21]:
print(hotels['phone-number'].str[:3].value_counts().head(3))

phone-number
799    168
185    167
541    166
Name: count, dtype: int64

**ЗАДАНИЕ: Сколько людей заселились в отель между 1м и 15м числами месяца (включая 1 и 15)? Бонусное задание: можете ли Вы сделать это с помощью одной строки кода в pandas?**

С помощью метода loc аналогично поставим условие по строкам, что день заезда больше или равен 1 и меньше или равен 15, затем оставим только столбец с днем заселения и посчитаем количество строк в датафрейме. В итоге получим 58152 строки.

In [22]:
print(hotels.loc[(hotels['arrival_date_day_of_month'] >= 1) & (hotels['arrival_date_day_of_month'] <= 15), 'arrival_date_day_of_month'].count())

58152

## Дополнительное задание: **Свой собственный Github репрезиторий** (2 балла)

***

Чтобы получить дополнительные баллы, вам необходимо создать собственный гитхаб репрезиторий, загрузить в него домашнее задание и прикрепить ссылку на него сюда. Можно также прикрепить ссылку мне в личные сообщения вместе с файлом.


https://github.com/ednlss/hw1_andan/tree/main